nav {
  height: 120px;
  width: 100vw;
  background-color: #4056A1;
  color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position:fixed;
  top:0;
}


 nav > a {
  padding: 1.5em 1.5em 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
 }

 nav a {
   text-decoration: none;
   color: white;
 }

 #nav-arrows {
   display: flex;
   flex-direction: column;
   align-items: center;
   margin: 0;
   padding: 0;
   color: red;
   position: relative;
   font-weight: 600;
 }

 #nav-arrows :last-child {
   position: absolute;
   top: 6px;
 }

 #logo {
  font-family: 'Bungee', sans-serif;
  font-size: 40px;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 1.5em;
 }