#tweets-container {
  padding-top: 2.2em;
}

.tweet {
  border: 5px solid  dimgray;
  padding: 0.8em 1.2em;
  color: dimgray;
  margin: 0.7em 0;
  opacity: 0.7;
}

.tweet:hover {
  color: black;
  -webkit-box-shadow: 10px 10px 0 0 #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    10px 10px 0 0 #ccc;  /* Firefox 3.5 - 3.6 */
  box-shadow:         10px 10px 0 0 #ccc;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
  opacity: 1;
}

.tweet:hover a {
  visibility: visible;
}

.tweet header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tweet header p {
  padding: 0 0.8em;
}

.tweet header a {
  text-decoration: none;
  color: silver;
  font-weight: 600;
  visibility: hidden;
}

.tweet footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 5px solid dimgray;
  padding: 0.6em;
}

.tweet footer p {
  padding: 0;
  margin: 0;
}

.tweet footer div {
  padding: 0 0.3em;
  color: royalblue;
}